# Local CLI tools and binary executables
eksctl.exe
eksctl.zip
kubectl.exe

# Temporary scratchpad manifests and overrides
/*-app.yaml
/root-application.yaml
/clean-devsecops-tools.yaml
/platform-ingress.yaml
/gp3-storageclass.yaml
/sync-override.json
/*.json

# Terraform runtime local states
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
